html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/fotos-gratis/planos-de-fundo-da-natureza-da-folha-ilustracao-do-padrao-do-design-do-pano-de-fundo-da-planta-abstrato-uma-ilustracao-de-papel-de-parede-da-natureza-verde-vibrante-generativa-ai_188544-12680.jpg?w=1380&t=st=1690678867~exp=1690679467~hmac=29be6939fa517e4b97c6ef7955e44e20eca96b3d5498f72d53d1febcb4d898cb);  
  box-shadow: inset 0 0 0 99999999px rgba(0, 0, 0, 0.945);
  background-size: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
