.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 80px;
    color: rgb(255, 255, 255, 2);

}

.formulario form{
  max-width: 80%;
  background-color: #fff ;
  background-size: 200%;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.562);
}
 .formulario form:hover{
    opacity: 30;
 }

 .formulario form h2{
    margin-bottom: 60px;

 }
 .botaos{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
 }
 
